<% if @active_users.empty? %>
  <h4>No active users at this time.</h4>
<% else %>
  <h4>Active Users</h4>
  <table class="table table-striped">
    <thead>
      <tr>
        <th width="225">Username</th>
        <th width="125">Role</th>
      </tr>
    </thead>
    <tbody>
      <% @active_users.each do |user| %>
        <tr>
          <td><%= link_to user.username, user_path(user) %></td>
          <td><%= user.role %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
<%= will_paginate @active_users, previous_label: "Previous&nbsp;", next_label: "&nbsp;Next" %>  
<% end %>
<p>&nbsp;</p>