<% if current_user.role == "admin" || current_user.id == @user.id %>

<h2>Profile</h2> <br>

<p> <b>Name or Andrew ID:</b> <%= @user.name %> </p> <br>

<p> <b>Username (for anonymous chat): </b> <%= @user.username %> </p> <br> 

<p> <b> Anonymous Mode? </b> 
   <% if @user.anonymous %> Yes
   <% else %> No <% end %> </p> <br>

<%= render 'update_form' %>

<% if current_user.role == 'admin' %>
<p> <b> Active User: </b> <%= @user.active %> </p> <br> <br>

<% end %>

<% else %>

<h1> LOL </h1>

<% end %>